# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]



# C extensions
config_file_path

# .yaml
*.yaml

# .ipynb
*.ipynb

# .so
*.so
voidfindertk/zobov/*.so
voidfindertk/core/*.so

# .coverage
.coverage*

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


# Other
*.pyc
*.pyo
*.o
datasets/*
#examples/
# draft/
local_draft/
workdir/
work_directory/
tmp*/


main.py

.flake8
.black
gemini.py
pipeline_popcorn.py
pipeline.py
plot_tools.py
log_file.txt
main_pipeline.py
voids_file.dat
.isort.cfg
header.txt
script_re_run_popcorn.py
voidfindertk/epicsphere/*





# zobov
voidfindertk/zobov/*.txt
voidfindertk/zobov/*.dat
voidfindertk/zobov/src/src/*
voidfindertk/zobov/src/bin/
voidfindertk/zobov/src/qhull/
voidfindertk/zobov/src/


# Popcorn
voidfindertk/svf_popcorn/popcorn_void_finder/

run_real_popcorn/
runz/
run_dive/
re_run_popcorn/
models/


# dive
voidfindertk/dive/CosmoBolognaLib/*

# run
run/
run_popcorn/

#images
*.jpg


# cbl
voidfindertk/core/*.so