include LICENSE.txt
include README.md
include dependencies.md

graft voidfindertk

recursive-exclude draft *
recursive-exclude examples *
recursive-exclude tests *


exclude .header-template
exclude tox.ini
exclude pyproject.toml
